@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=PT+Sans+Narrow:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navegador*/
.navegador {
    background-color: #560314;   
}
.navegador ul {
    list-style: none;
    display: flex;
    justify-content: end;
    }
.navegador ul li a {
    display: block;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    color:#ead2d7;
    font-size: 20px;
    padding: 15px 20px;
}
@media(max-width:550px){
   .navegador .fa-ellipsis-vertical{
    display: block;
    font-size: 32px;
    margin: 10px;
    color:#f0e3e5
   }
    .navegador ul{
        top: 0;
        position: fixed;
        width: 150px;
        height: 100vh;
        z-index: 5;
        background-color: #d5a2ad;
        flex-direction: column;
        justify-content: start;
    }
}

}
  /*Fin Navegador*/
  /*Portada*/
  .portada{
    position: relative;
  }
.portada img{
    display: flex;
    width: 100%;
    height: 400px;
    object-fit:cover;
    filter:sepia(35%);
}

.portada .titulo{
    display: flex;
    position:absolute;
    top: 100px;
    text-align: center;
}
.titulo h1{
    color:#ead2d7 ;
    font-size: 48px;
    font-family: 'Kanit', sans-serif;
    -webkit-text-stroke: 3px #560314;
    }
/*Fin Portada*/
main{
    margin: 0;
    background-color:#ead2d7;
}
.subtitulo{
    font-family: 'Kanit', sans-serif;
    font-size: 36px;
    color:#560314;
    text-align: center;
    text-decoration:solid underline;
}
.destacados{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.producto-destacado{
    width: 350px;
    height: 600px;
    margin: 10px;
    padding: 10px 10px;
    background-color: #ead2d7;
    
    }
.producto-destacado img{
    width: 85%;
    height: 350px;
    object-fit: cover;
}
.producto-destacado h4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 10px 0;

}
.producto-destacado p{
    padding: 10px;
    font-family: 'Kanit', sans-serif;
}
.producto-destacado button{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;

}
@media(max-width:700px){
    .titulo h1{
        font-size: 32px ;
        -webkit-text-stroke: 1px #560314;
        text-align: center;
    }
    .subtitulo{
        font-size: 16px ;
        text-decoration: none;
    }
    .producto-destacado{
        border: 7px solid #560314;
        width: 200px;
        height: 370px;
    }
    .producto-destacado img{
        width: 60%;
        height: 150px;
        object-fit: cover;
    }
    .producto-destacado h4{
        text-align: left;
        font-family: 'Kanit', sans-serif;
        font-size: 12px;
        margin: 5px 0;
    }
    .producto-destacado p{
        padding: 5px;
        font-family: 'Kanit', sans-serif;
        text-align: center;
    }
}
footer{
    background-color:#560314;
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
    }
.redes{
    margin: 5px;
    padding: 5px;
    width: 25%;
    height: 100%;
    background-color:#560314;
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.redes ul{
    list-style: none;
}
.redes ul li a{
    text-decoration: none;
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}
/*servicios*/
h2
.servicios-padre{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:100px 50px 50px 50px;
    grid-template-areas: "svc-hijo1 svc-hijo1 svc-hijo1"
                         "svc-hijo2 svc-hijo3 svc-hijo3"
                         "svc-hijo2 svc-hijo4 svc-hijo4"
                         "svc-hijo2 svc-hijo5 svc-hijo5";                        
}
.svc-hijo1{
    grid-area:"svc-hijo1";
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    color: #ead2d7;
    -webkit-text-stroke: 3px #560314;
    text-align: center;
    background-color:#d5a2ad;
}
.svc-hijo2{
    grid-area:"svc-hijo2";
    margin: 15px;
    width: 15%;
    height: 35%;
    object-fit:cover;
    filter:sepia(35%);
}


.svc-hijo3{
    grid-area:"svc-hijo3";
}
.svc-hijo4{
    grid-area:"svc-hijo4";
}
.svc-hijo5{
    grid-area:"svc-hijo5";
}

