@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&family=PT+Sans+Narrow:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Navegador*/
.navegador {
    background-color: #560314;
    padding: 10px;   
}
.navegador .fa-bars{
    font-size: 24px;
    margin: 10px;
    color:#ead2d7;
    display: none;
}
.navegador ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.navegador ul li a {
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    color:#ead2d7;
    font-size: 20px;
    padding: 15px 20px;
}

  /*Fin Navegador*/
  /*Portada*/
.portada{
    position: relative;
  }
.portada img{
    display: flex;
    width: 100%;
    height: 400px;
    object-fit:inherit;
    filter:sepia(35%);
}

.portada .titulo{
    display: flex;
    position:absolute;
    top: 100px;
    text-align: center;
}
.titulo h1{
    color:#ead2d7 ;
    font-size: 48px;
    font-family: 'Kanit', sans-serif;
    -webkit-text-stroke: 3px #560314;
    }
.tt2{
    color:#ead2d7 ;
    font-size: 48px;
    font-family: 'Kanit', sans-serif;
    -webkit-text-stroke: 3px #560314;
}
.titulo{
    display: flex;
    flex-direction: column;
}
/*Fin Portada*/
main{
    margin: 0;
    background-color:#ead2d7;
}
.subtitulo{
    font-family: 'Kanit', sans-serif;
    font-size: 34px;
    color:#560314;
    text-align: center;
    text-decoration:solid underline;
}
.destacados{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.producto-destacado{
    width: 350px;
    height: 600px;
    margin: 10px;
    padding: 10px 10px;
    background-color: #ead2d7;
    
    }
.producto-destacado img{
    width: 98%;
    height: 400px;
    object-fit: cover;
}
.producto-destacado h4{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    margin: 10px 0;

}
.producto-destacado p{
    padding: 2px;
    font-family: 'Kanit', sans-serif;
}
.producto-destacado button{
    margin: 5px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
button:hover{
    background-color: black;    
}
  .producto-destacado:hover{
    transition: 0.2s;
    border:solid #560314;
    animation;
}

/*pie de pagina*/
footer{
    background-color:#560314;
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
}
section{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
}
.ac .suscribe{
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
}
.ac ul{
    list-style: none;
    text-align: justify;
}
.suscribe .registro{
    margin: 10px;
    padding: 7px 15px;
    border: solid;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.registro:hover{
    background-color: black;
}
.seguir{
    width: 45%;
}
.redes{
    margin: 5px;
    padding: 5px;
    width: 65%;
    height: 90%;
    background-color:#560314;
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.redes ul{
    list-style: none;
}
.redes ul li a{
    text-decoration: none;
    color:#ead2d7;
    font-family: 'Kanit', sans-serif;
    font-size: 18px;
}
/*fin de pie de pagina*/
@media (min-width:400px) and (max-width:700px){
   .navegador .fa-bars{
        display:block;
        position: fixed;
        font-size: 24px;
        margin: 10px;
        color: #ead2d7;
        z-index: 5;
   } 
   .navegador ul{
    display: none;
   }
 .fa-bars:hover + ul{
    display: block;
    flex-direction: column;    
}
    
.navegador ul{
 text-align:center; 
 }
    
}

@media(max-width:800px){
    .titulo h1{
        font-size: 32px ;
        -webkit-text-stroke: 1px #560314;
        text-align: center;
    }
    .subtitulo{
        font-size: 16px ;
        text-decoration: none;
    }
    .producto-destacado{
        border: 7px solid #560314;
        width: 200px;
        height: 370px;
    }
    .producto-destacado img{
        width: 60%;
        height: 150px;
        object-fit: cover;
    }
    .producto-destacado h4{
        text-align: left;
        font-family: 'Kanit', sans-serif;
        font-size: 12px;
        margin: 5px 0;
    }
    .producto-destacado p{
        padding: 5px;
        font-family: 'Kanit', sans-serif;
        text-align: center;
    }
    footer{
        padding: 5px;
        font-size: 12px;       
    }
    footer section{
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items:baseline;
    }
}
/*servicios*/
h2{
    font-size: 34px;
    text-align: center;
    width: 100%;
}


/*shop*/
main{
    margin: 0;
    padding: 10px;
}

.ttshop{
    color:#560314;
    font-size: 34px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 10px;

}
.shop{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap:wrap;
    margin: 5px;
    
}
.producto1{
    margin: 10px;
    width: 250px;
    border: 3px solid;
    border-color: #560314;
}
.producto1__img{
    padding: 3px;
    width: 100%;
    height: 250px;
}
.producto1__tt{
    padding: 3px;
    text-align: center;
    font-size: 16px;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto1__texto{
    padding: 3px;
    text-align:start;
    font-size: 14px;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto1__boton{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.producto2{
    margin: 10px;
    width: 250px;
    border: 3px solid;
    border-color: #560314;
}
.producto2__img{
    padding: 3px;
    width: 100%;
    height: 250px;
}
.producto2__tt{
    padding: 3px;
    text-align: center;
    font-size: 16px;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto2__texto{
    padding: 3px;
    text-align:start;
    font-size:14px ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto2__boton{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.producto3{
    margin: 10px;
    width: 250px;
    border: 3px solid;
    border-color: #560314;
}
.producto3__img{
    padding: 3px;
    width: 100%;
    height: 250px;
}
.producto3__tt{
    padding: 3px;
    text-align: center;
    font-size:16px ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto3__texto{
    padding: 3px;
    text-align:start;
    font-size: 14px;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto3__boton{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.producto4{
    margin: 10px;
    width: 250px;
    border: 3px solid;
    border-color: #560314;
}
.producto4__img{
    padding: 3px;
    width: 100%;
    height: 200px;
}
.producto4__tt{
    padding: 3px;
    text-align: center;
    font-size:16px ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto4__texto{
    padding: 3px;
    text-align:start;
    font-size:14px ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto4__boton{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.producto5{
    margin: 10px;
    width: 250px;
    border: 3px solid;
    border-color: #560314;
}
.producto5__img{
    padding: 3px;
    width: 100%;
    height: 200px;
}
.producto5__tt{
    padding: 3px;
    text-align: center;
    font-size: 16px;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto5__texto{
    padding: 3px;
    text-align:start;
    font-size: 14px;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto5__boton{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.producto6{
    margin: 10px;
    width: 250px;
    border: 3px solid;
    border-color: #560314;
}
.producto6__img{
    padding: 3px;
    width: 100%;
    height: 200px;
}
.producto6__tt{
    padding: 3px;
    text-align: center;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto6__texto{
    padding: 3px;
    text-align:start;
    font-size: ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto6__boton{
    margin: 10px;
    padding: 7px 15px;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
.producto6--destacar{
    margin: 10px;
    width: 500px;
    height: 350px;
    border: 5px solid;
    border-color: #560314;

}
.producto6__img--destacar{
    padding: 3px;
    width: 100%;
}
.producto6__tt--destacar{
    font-size: 20px ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto6__texto--destacar{
    font-size: 18px ;
    font-family:'Kanit', sans-serif; ;
    color: #560314;
}
.producto6__boton--destacar{
    margin: 5px;
    padding: 3px;
    width: 98%;
    border: 0;
    border-radius: 5px;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s;
}
}
/*ubicacion*/
main{
    margin: 0;
    padding: 10px;
}
h2{
    color:#560314;
    font-size: 34px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
.ubicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.ubicacion .lista ul{
    padding: 10px;
}
.ubicacion .mapa{
    width: 60%;
    border: 3px solid;
    padding: 15px;
}
.lista h4{
    color:#560314;
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    text-align: center;

}
.lista ul{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    text-align:start;
}
/*contacto*/
main{
    padding: 10px;
}
.intro-contacto h1{
    color:#560314;
    font-size: 34px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
}
.intro-contacto p{
    color:#560314;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    padding: 10px;

}
/*FORMULARIO DE CONTACTO*/
.formulariocontac{
    background-color: #e8cad0;
    border-radius: 7px;
    border: solid;
    padding: 10px;
    font-family: 'Kanit', sans-serif ;
    color: #560314;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 750px;
    margin: 0 auto;            
               
}

.formulariocontac h2{
    grid-column: 1 / span 2;
    text-align: center;
    
}
.formulariocontac label:nth-child(2){
    grid-area: Nombre y Apellido;
}
.formulariocontac label:nth-child(3){
    grid-area: E-mail: ;
}
.formulariocontac label:nth-child(4){
    grid-area: Teléfono: ;
}
.formulariocontac label:nth-child(5){
    grid-area: Asunto:;
}
.formulariocontac label:nth-child(6){
    grid-area: Mensaje:;
    }
.formulariocontac input .formulariocontac textarea {
width: 100%;
height: 85%;
padding: 10px;
margin-bottom: 10px;
border: none;
border-radius: 5px;
box-shadow: 0 0 10px  #560314(0, 0, 0, 0.5);
}
.formulariocontac button{
    grid-column: 1 / span 2;
    width: 50%;
    margin: 10px;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    justify-content: center;
    text-align: ;
    background-color: #560314;
    color: aliceblue;
    font-family: 'Kanit', sans-serif;
    transition: 0.5s
}
.formulariocontac button:hover{
background-color: #e8cad0;
border: solid #560314;
color: #560314;
}
.formulariocontac label{
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
}
/*FIN FORMULARIO DE CONTACTO*/
/*pie de pagina*/